:root {
  --tema: #0d6efd;
  --sucesso: #198754;
  --erro: #dc3545;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

#loading {
  background: #000;
  padding: 40px;
  border-radius: 12px;
}
