body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: radial-gradient(circle, #001f3f, #000814);
  color: white;
  text-align: center;
}

.screen {
  display: none;
  padding: 30px;
}

.screen.active {
  display: block;
}

.doctor {
  width: 220px;
  margin-bottom: 20px;
}

.question-box {
  background: linear-gradient(135deg, #003566, #001d3d);
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 0 20px #ffd60a;
}

.buttons button {
  margin: 15px;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.buttons button:first-child {
  background: #2ecc71;
}

.buttons button:last-child {
  background: #e74c3c;
}

button {
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05);
}



.quiz-screen {
  background: url("assets/fundo-quiz.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.btn-verdadeiro, .btn-falso {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}


.btn-verdadeiro {
  bottom: 140px;
  left: 80px;
  width: 220px;
  height: 80px;
}

.btn-falso {
  bottom: 140px;
  right: 80px;
  width: 220px;
  height: 80px;
}
